@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
}

body {
    background-color: white;
    color: black;
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: blue;
}

.mobile {
    visibility: collapse;
}

.hbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.vbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 3rem;
    margin-top: 40px;
    font-weight: 900;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.ironic {
    opacity: .5;
}

.icon {
    width: 32px;
    height: 32px;
    margin: 5px;
}

.subtitle {
    margin-top: 70px;
    font-size: 2rem;
    font-weight: 900;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-top: 50px;
    background-color: black;
    width: 100%;
    color: white;
}

.footer a, .footer a:visited {
    color: antiquewhite;
}



.project {
    width: 750px;
    border: 2px solid white;
    box-shadow: 0px 0px 3px black;
    border-radius: 50px 0px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.project:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

.project-preview {
    border-radius: 50px 0px 0px 0px;
    border: 2px solid black;
    margin-right: 2px;
    width: 200px;
    height: 200px;
    background-color: white !important;
}

.laureandosi {
    background: url(projects/laureandosi/preview.png) 50% 50% no-repeat;
    background-size: 180px;
}

.chesspuzzles {
    background: url(projects/chesspuzzles/preview.png) 50% 50% no-repeat;
    background-size: 150px;
}

.codfish2000 {
    background: url(projects/codfish2000/preview.png) 50% 50% no-repeat;
    background-size: 150px;
}

.smartbuildings {
    background: url(projects/smartbuildings/preview.png) 50% 50% no-repeat;
    background-size: 155px;
}

.project-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 550px;
}

.project-header {
    height: 50px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.project-date {
    margin-left: 10px;
}

.project-description {
    text-align: justify;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.project-icons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project-footer {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px 0px 0px 0px;
}

.project-link:last-child {
    border-radius: 0px 0px 50px 0px;
    border: none;
}

.project-link {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white;
}

.project-link:visited {
    color: white;
}

.project-link:hover {
    background-color: #444444;
}




.screenshot {
    width: 800px;
}

.justify {
    text-align: justify;
}

.limit {
    width: 700px;
}

.paragraph {
    margin-top: 20px;
}

.subtitle-low-margin {
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 900;
}

ul {
    margin: 0px;
}