@media screen and (max-width: 768px) {
    /* theme-vars */
    :root {
        --gap: 14px;
    }

    /* profile-mode */
    .profile img {
        transform: scale(0.85);
    }

    /* post-entry */
    .first-entry {
        min-height: 260px;
    }

    /* archive */
    .archive-month {
        flex-direction: column;
    }

    .archive-year {
        margin-top: 20px;
    }

    /* footer 
    .footer {
        padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
    }
    */

    .post-entry {
        grid-template-columns: 30% 70%;
        padding: 12px;
    }

    .entry-info {
        margin-left: 12px;
    }

    .entry-content {
        -webkit-line-clamp: 2;
        text-align: left;
    }

    .entry-cover {
        font-size: 14px;
        text-align: center;
    }

    .entry-cover img {
        max-width: 90%;
        max-height: 90%;
    }

    .post-tags-list {
        display: none;
    }

    @media screen and (min-width: 500px) {
        .post-tags-list {
            display: flex;
            gap: 5px;
            margin-left: 10px;
            overflow:hidden
        }
    }

    .mobile {
        display: block !important;
    }

}

/* footer */
@media screen and (max-width: 900px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
}

@media screen and (max-width: 340px) {
    .share-buttons {
        justify-content: unset;
    }
}

@media (prefers-reduced-motion) {
    /* terms; profile-mode; post-single; post-entry; post-entry; search; search */
    .terms-tags a:active,
    .button:active,
    .post-entry:active,
    .top-link,
    #searchResults .focus,
    #searchResults li:active {
        transform: none;
    }
}
