
:root {
    --SQUARE-SIZE: 40px;
}



/**
 * default.css style
 */

.logo-container {
    height: 80px;
}

.logo {
    height: 50px;
    width: 112px;
    padding-right: 10px;
}

.logo-text {
    font-size: 1.7rem;
}

.bubbles {
    max-height: 50px;
    left: 50px;
}

.navigation-button {
    margin-top: 0;
    padding: 10px;
    width: 150px;
}

.main {
    min-height: 90vh;
}

.button {
    font-size: 1rem;
}

.main-button {
    background-size: 150px;
    width: 150px;
    height: 150px;
    margin-top: 25px;
    margin: 10px;
}



/**
 * documentation.html style
 */

.text {
    line-height: 1.3;
    margin: 0% 10% 0% 10%;
    text-align: justify;
}



/**
 * play.php style
 */

.game-result-text, .engine-level {
    font-size: 1.2rem;
}

.popup {
    height: calc(var(--SQUARE-SIZE) * 7);
    width: calc(var(--SQUARE-SIZE) * 7);
}




/**
 * analyze.php style
 */

.analysis-screen-desktop {
    display: none;
}

.analysis-screen-mobile {
    text-align: center;
}
